<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{% block title %}
		Currency Converter Application
		{% endblock %}		
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	{% block css %}
	{% endblock %}
</head>
<body>
	<main>
		{% block navbar %}
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'convert-home' %}">Atrity</a>
				 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id=navbarSupportedContent>
    				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    					<li class="nav-item">
    						<a href="{% url 'convert-home' %}" class="nav-link active">Home</a>
    					</li>
    					<li class="nav-item">
    						<a href="{% url 'symbol-list' %}" class="nav-link active">List of Symbols</a>
    					</li>	
    					<li class="nav-item">
    						<a href="{% url 'fetch-symbols' %}" class="nav-link active">Fetch Symbols</a>	
    					</li>
    					<li class="nav-item">
    						<a href="{% url 'delete-symbols' %}" class="nav-link active">Delete Symbols</a>	
    					</li>  
    					<li class="nav-item">
    						<a href="{% url 'rates-list' %}" class="nav-link active">Exchange Rates</a>
    					</li>  
    					<li>
    						<a href="{% url 'delete-rates' %}" class="nav-link active">Delete Exchange Rates</a>
    					</li> 
    					<li>
    						<a href="{% url 'convert-list' %}" class="nav-link active">Called Conversions</a>
    					</li>
    					<li>
    						<a href="{% url 'delete-conversions' %}" class="nav-link active">Delete Conversions</a>
    					</li>     					  						
    				</ul>
    			</div>
			</div>
		</nav>			
		{% endblock %}

		{% block searchbar %}
		<div class="container my-3">
			<div class="row">
				<div class="col">
					<!-- Search for currency codes -->
					<form action="{% url 'codes-search' %}" class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_codes_query">
				        <button class="btn btn-outline-primary" type="submit" id="search_codes_submit">Search Currency Code</button>
					</form>						
				</div>
				<div class="col">
					<!-- Search for basic currency exchange rates -->
					<form action="{% url 'rates-search' %}" class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_rates_query">
				        <button class="btn btn-outline-primary" type="submit" id="search_rates_submit">Search Exchange Rates</button>
					</form>	
				</div>
			</div>			
		</div>
		{% endblock %}

		{% block content %}
		{% endblock %}
	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	{% block js %}	
	{% endblock %}
</body>
</html>